{% extends "base.html" %}
{% block content %}

<style>
body {
  background-image: url('http://www.mycoloradolife.com/Pictures/Skiing/Telluride/Telluride-Ski-Resort-Mountains.JPG');
  background-size: 100%
}
.main {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 100px;
}
.main h1 {
  font-size: 5em;
}
.main h2 {
  font-size:3em;
}
.main p {
  font-size:2em;
}
</style>
    <div class="main">

      <div class="starter-template">
        <h1>Ski Run Recommender</h1>
        <h2>Get trail or mountain recommendations</h2>
      </div>
    </div>

<center>
<table class=table>
  <tr>
    <td align="right">
<form action='/trails', method='POST'>
  <button type="submit" style="background-color: cornflowerblue; color: white; border-radius: 16px; padding-left: 12px; padding-right: 12px; font-size: 16px; font-weight: bold;"/>Find Trail Recommendations</div>
</form>
    </td>
    
    <td>
<form action='/mountains', method='POST'>
  <button type="submit" style="background-color: cornflowerblue; color: white; border-radius: 16px; padding-left: 12px; padding-right: 12px; font-size: 16px; font-weight: bold;"/>Find Mountain Recommendations</div>
</form>
    </td>
  </tr>
</table>
</center>

{% endblock %}