{% extends "base.html" %}
{% block content %}

<!-- <form action='/resort/'>
  <select name='resorts'>
    {% for resort in df['resort'].unique() %}
      <option value="{{resort}}">{{resort}}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form> -->

<select name="resort" id="select_resort" class="selectpicker form-control">
    <option selected="selected">Select a Resort...</option>
    {% for resort in df['resort'].unique() %}
    <option value="{{ resort }}">{{ resort }}</option>
    {% endfor %}
</select>

<select name="trail" id="select_trail" class="selectpicker form-control" disabled>
    <option>Select a Trail...</option>
</select>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script charset="utf-8" type="text/javascript">
    $(function() {
        var dropdown = {
            resort: $('#select_resort'),
            trail: $('#select_trail')
        };

        // function to call XHR and update goodsrec dropdown
        function updateTrail() {
            var resort = dropdown.resort.val();
            dropdown.trail.attr('disabled', 'disabled');
            console.log(resort);

            if (resort.length) {
                dropdown.trail.empty();
                $.getJSON("{{ get_trails }}", {resort: resort}, function(data) {
                    console.log(data);
                    data.forEach(function(item) {
                        dropdown.trail.append(
                            $('<option>', {
                                value: item.id,
                                text: item.name
                            })
                        );
                    });
                    dropdown.trail.removeAttr('disabled');
                });
            }
        }

        // event listener to customer dropdown change
        dropdown.resort.on('change', function() {
            updateTrail();
        });

    });
</script>


{% endblock %}