{% extends "base.html" %}
{% block content %}

<style>
.green {background-color:rgba(0, 255, 0, 1);}
.blue {background-color:rgba(0, 0, 255, 1); color:rgba(255,255,255,1);}
.black {background-color:rgba(0, 0, 0, 1); color:rgba(255,255,255,1);}
.doubleblack {background-color:rgba(0, 0, 0, 1); color:rgba(255,255,255,1);}
</style>

<h2>Your Trail</h2>
<table class=table>
  <tr>
  {% for col in row.columns %}
  <th>{{col}}</th>
  {% endfor %}
  </tr>
  <tr>
    {% for _, item in row.iloc[:].iterrows() %}
    <tr class="{{ item.Difficulty.lower().replace(' ','') }}">
      {% for entry in item %}
      <td>{{ entry }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tr>
</table>

<h2>Because you like skiing on {{row['Trail Name'].item()}}, you might like skiing at:</h2>

<h2>Recommendations</h2>
<table class=table>
  <tr>
  {% for col in results_df.columns %}
  <th><center>{{col}}</center></th>
  {% endfor %}
  <th><center>Today's Trail Info (link)</center></th>
  </tr>
  {% for _, row in results_df.iloc[:].iterrows() %}
  <tr>
    {% for entry in row %}
    <td><center>{{ entry }}</center></td>
    {% endfor %}
    <td><center><a href="{{links[row.Resort][1]}}"><img src={{links[row.Resort][0]}} height="100px" width="200px"></a></center></td>
  </tr>
  {% endfor %}
</table>


{% endblock %}